.infomation1 {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/park information.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 120px 20px;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    background-color: lightblue;
    font-style: italic;
}

.infomation1 h1 {
    font-size: 2.5em;
}

.infomation1 p {
    font-size: 1.2em;
    color: white;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;
}

.tab-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.tab-btn.active {
    background: #efeb07;
    color: white;
}

.section {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: none;
    background: #fff3e0;
    border-radius: 12px;
}

.section.active {
    display: block;
}

.section h2 {
    color: #f0ad61;
    margin-bottom: 20px;
    text-align: center;
}

.section h3 {
    margin-top: 20px;
    color: #f0ad61;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

.section ul {
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    background: #fff8e1;
    border-radius: 10px;
    
}

.section ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 1.1em;
}